@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,400&display=swap');

:root{
    --green:#27ae60;
}


*{
    font-family: 'Nunito', sans-serif;
    padding: 0; margin: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.7rem;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: var(--green);
}
body{
    background: #eee;
    padding-right: 5rem;
}
.background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .2;
}
header{
    position: fixed;
    top: 0;right: 0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 1000;
}
header .navbar{
    writing-mode:vertical-lr ;
    padding: 1.5rem;
}
header .navbar a{
    font-size: 1.3rem;
    padding: 1.5rem;
    color: #222;
}
header .navbar a:hover{
    color: var(--green);
}
#menu-bars{
    position: fixed;
    z-index: 10000;
    padding: 1rem 1.5rem;
    top: 1rem; left: 1rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 3rem;
    display: none;
}
section{
    padding: 2rem;
    min-height: 100vh;
}
.home{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home #particles-js{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
.home::before{
    content: '';
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
}
.home .content{
    text-align: center;
    position: relative;
    z-index: 1;    
}
.home .content img{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    object-fit: cover;
    border:1rem solid var(--green);
}
.home .content h3{
    color: #222;
    font-size: 4rem;
    text-transform: uppercase;
}
.home .content h3 span{
    color: var(--green);
    text-transform: uppercase;
}
.home .content p{
    color: #222;
    font-size: 2rem;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: #222;
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    background: var(--green);
    letter-spacing: .2rem;
}

header .active{
    left:0%;
}
.heading{
    text-align: center;
    padding: 2rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: #222;
}
.heading span{
    text-transform: uppercase;
    color: var(--green);
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    
}
.about .row .image{
    text-align: center;
    flex:0 0 auto;
}
.about .row .image img{
    width: 30rem;
    border-radius: .5rem;
    border: 1rem solid #fff;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}
.about .row .content{
    flex:1 1 55rem
}
.about .row .content h3{
    color: #222;
    font-size: 3rem;
}
.about .row .content h3 span{
    color: var(--green);
}
.about .row .content .info{
    color: #333;
    font-size: 2rem;
    line-height: 2.5rem;
}
.about .row .content .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}
.about .row .content .container .box{
    flex: 1 1 20rem;
}
.about .row .content .container .box p{
    font-size: 1.7rem;
    color: #222;
    padding: 5rem 0;
    line-height: 2rem;
}
.about .row .content .container .box p span{
    color: var(--green);
}

.info-num {
    display: flex;
    align-items: center;
}

.info-num > span {
    margin-right: 1rem;
}












@media(max-width:991px){
    html{
        font-size: 55%;
    }

    body{
        padding-right: 0;
    }
    
    section{
        padding:2rem;
    }

    header{
        width:100%;
        left:-120%;
    }

    header.active{
        left:0%;
    }

    #menu-bars{
        display: initial;
    }

    header .navbar{
        writing-mode: horizontal-tb;
    }

    header .navbar a{
        display: block;
        font-size: 3rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 4rem;
    }

    .contact .row form .inputBox input{
        width:100%;
    }
}